body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#home-page{
  background-image: url("./components/media/computer-lab.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ant-btn-primary {
  background-color: orange !important;
  border: orange !important;
}
.ant-typography a{
  color: orange !important;
}

.ant-divider-horizontal{
  background-color: orange !important;
}

.asmaaquiz-title{
  color: orange !important;
}

.ant-table-body th{
  background: orange !important;
}
.ant-table-header-column{
  color: white !important;
  font-weight: bold !important;
}

.ant-table-thead th{
  background-color: orange !important;
}

.ant-pagination-item-active{
  border-color: orange !important;
  color: orange !important;
}
 .ant-pagination-item-active a{
  color: orange !important;
}


.ant-radio-checked .ant-radio-inner{
  border-color: orange !important;
}

.ant-radio-inner::after {
  background-color: orange !important;
}
/*
#root{
  height: 100%;
}*/